 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::body})">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About us</title>
  </head>
</head>
  <body>
    
    <main class="main-grid">
            <div class="head">
            <h1 class="page-title">About us</h1>
            <p class="subtitle">we believe that everyone deserves a chance to present themselves professionally. Our mission is to empower individuals to create polished and impactful resumes effortlessly.</p>
            </div>
            <img class="main-image" src="https://images.unsplash.com/photo-1523908511403-7fc7b25592f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="two men in a coworking space">
            
            <div class="main-text">
                <h2 class="section-title">We're really great guys</h2>
                <p>our resume builder website is dedicated to sharing our mission, values, and commitment to helping individuals create professional resumes. Our team believes that a well-crafted resume is essential for success in today's competitive job market. </p>
                <p>We strive to provide an easy-to-use platform that empowers users to showcase their skills and experiences effectively. </p>
              
                <h2 class="section-title sub">We can do all sorts of great stuff </h2>
                <p>Our goal is to simplify the resume-building process and provide valuable resources to help our users land their dream jobs.</p>
                <p>We are passionate about assisting job seekers in presenting themselves in the best possible light and are dedicated to delivering a high-quality, user-friendly experience.</p>
            </div>
      
    </main>
   <script src="/JS/index.js" />
   
  </body>



</html>